@font-face {
    font-family: Graphik;
    src: url("../fonts/hinted-Graphik-Medium.woff");
    font-weight: 600;
}
@font-face {
    font-family: Graphik;
    src: url("../fonts/hinted-Graphik-Regular.woff");
    font-weight: 400;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Graphik;
}
.main__container{
    width: 1440px;
}
.col-12{
    width: 100%;
}
.col-9{
    width: 75%;
}
.col-8{
    width: 66.666666%;
}
.col-6{
    width: 50%;
}
.col-5{
    width: 40%;
}
.col-4{
    width: 33.333333%;
}
.col-3{
    width: 25%;
}
.col-2{
    16.666666%
}
.col-1{
    width: 8.3333333%;
}
.fw4{
    font-weight: 400;
}
.fw6{
    font-weight: 600;
}
.fs12{
    font-size: 12px;
}
.fs15{
    font-size: 15px;
}
.fs18{
    font-size: 18px;
}
.fs25{
    font-size: 25px;
}
.fs20{
    font-size: 20px;
}
.fs30{
    font-size: 30px;
}
.fs35{
    font-size: 35px;
}
.fs40{
    font-size: 40px;
}
.fs50{
    font-size: 50px;
}
.fs65{
    font-size: 65px;
}
.pd15{
    padding-top: 15px;
}
.pd20{
    padding-top: 20px;
}
.pd25{
    padding-top: 25px;
}
.pd30{
    padding-top: 30px;
}
.pd55{
    padding-top: 55px;
}
.pd-b95{
    padding-bottom: 95px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-shadow: 2px 1px 1px #FF6336;
}
.white-link{
    color: white;
}
.absolute{
    position: absolute;
}
.ta-c{
    text-align: center;
}
.typical-button{
    width: 160px;
    height: 60px;
}
.b-butt{
    background-color: black;
}
button.b-butt:hover{
    background-color: #FF6336;
    border:0;
}
.w-but{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
button.w-but:hover{
   border-color: orange;
}
.o-but{
    background: #FF6336;
    color: white;
    border: 0;
}
button.o-but:hover{
    background-color: black;
    color: white;
}
.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
}
